@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #566573;
}

.navbar {
background-color: #6bb300;

}

.quem-somos{
  background-color: #808B96;
}